<footer class="footer">
    <div class="footer__inner">
      <span>BGameiro's website :: <i class="fab fa-linkedin"></i> <a href="https://www.linkedin.com/in/bgameiro/en/">BGameiro</a> :: <i class="fab fa-gitlab"></i> <a href="https://gitlab.com/BGameiro">BGameiro</a></span> :: <i class="fab fa-github"></i> <a href="https://github.com/BGameiro2000">BGameiro</a> :: <i class="fas fa-file"></i> <a href="https://bgameiro.gitlab.io/cv/cv_BGameiro.pdf">Latest CV</a></span>
    </div>
  </footer>
  
  <script src="{{ "assets/main.js" | absURL }}"></script>
  <script src="{{ "assets/prism.js" | absURL }}"></script>
  
  <!-- Extended footer section-->
  {{ partial "extended_footer.html" . }}